<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form ENCTYPE="multipart/form-data" method="post" action="<?= site_url('inscription') ?>">
	nom et prénom: <input type="text" name="nom"/><br/><br/>
	Photo <INPUT TYPE=HIDDEN NAME="MAX_FILE_SIZE" VALUE="2000000">
    <INPUT TYPE=FILE SIZE=40 NAME="maPhoto"><br/><br/>
	Nationalité <input type="text" name="nom"/><br/><br/>
	Date de naissance <input type="text" name="nom"/><br/><br/>
	Lieu de naissance <input type="text" name="nom"/><br/><br/>
	CIN <input type="text" name="nom"/><br/><br/>
	Tel <input type="text" name="nom"/><br/><br/>
	GSM <input type="text" name="nom"/><br/><br/>
	Email <input type="text" name="nom"/><br/><br/>
	Adresse <input type="text" name="nom"/><br/><br/>
	Ville <input type="text" name="nom"/><br/><br/>
Profession de père <input type="text" name="nom"/><br/><br/>
Profession de mère <input type="text" name="nom"/><br/><br/>
	CNE <input type="text" name="nom"/><br/><br/>
Type de bac : 
<select>
	<option>PC</option>
	<option>SVT</option>
	<option>Sn Math</option>

</select>
 <br/>
  <br/>
Note de bac : <input type="text" name="nom"/><br/><br/>

Note 1ère année : <input type="text" name="nom"/><br/><br/>
Classement : <input type="text" name="nom"/><br/><br/>

</form>
</body>
</html>