.table-calendrier{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.e_login_btn{
    margin-top: 20px;
}
.e_input:first-child{
    margin-top: 20px;
}
.alert{
    margin-left: 15px;
    margin-right: -15px;
}
.profile-img-small{
    width:100px !important;
}
.table-list-etudiants{
    margin-top: 20px;
}