/* Global */
body{
    margin:0;
    padding: 0;
    font-family: 'Open Sans','Arial', sans-serif;
    background: rgb(234,234,234);
}
img{
    max-width: 100%;
}
/* Inscription */
#e_signup .container{
    background-color:#fff;
    margin-top: 80px;
    position: relative;
}
#e_signup .e_title h3{
    text-align: center;
    background-color: rgb(85,96,110);
    min-width: 80%;
    color:#fff;
    font-size: 30px;
    padding: 10px;
}
#e_signup .e_title{
    position: absolute;
}
#e_signup form{
    margin-top: 50px;
}
#e_signup .e_radio{
    color: #5ad4a0;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#e_signup .e_radio:first-child{
    padding-left: 50px;
}
#e_signup .e_input{
    background-color: rgb(241,241,241);
    padding: 15px 20px;
    border-bottom: 1px solid rgb(222,222,222);
    margin-left: 15px;
    margin-right: -15px;
}
#e_signup .e_input span{
    color:rgb(193,193,193);
    padding-right: 20px;
}
#e_signup .e_input input[type="text"],
#e_signup .e_input input[type="password"],
#e_signup .e_input input[type="date"],
#e_signup .e_input input[type="number"]{
    background-color: rgb(241,241,241);
    border:none;
    padding: 5px;
    width:80%;
}
#e_signup .e_date input[type="text"]{
    width:80px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
}
#e_signup .e_input input[type="text"]:hover,
#e_signup .e_input input[type="text"]:focus,
#e_signup .e_input input[type="text"]:active,
#e_signup .e_input input[type="text"]:default,
#e_signup .e_input input[type="text"]:focus,
#e_signup .e_input input[type="password"]:hover,
#e_signup .e_input input[type="password"]:active,
#e_signup .e_input input[type="password"]:default,
#e_signup .e_input input[type="password"]:focus,
#e_signup .e_input input[type="date"]:hover,
#e_signup .e_input input[type="date"]:active,
#e_signup .e_input input[type="date"]:default,
#e_signup .e_input input[type="date"]:focus,
#e_signup .e_input input[type="number"]:hover,
#e_signup .e_input input[type="number"]:active,
#e_signup .e_input input[type="number"]:default,
#e_signup .e_input input[type="number"]:focus{
    border:none;
    outline: 0;
}
#e_signup .e_date input[type="text"]:hover,#e_signup .e_date input[type="text"]:focus,#e_signup .e_date input[type="text"]:active,#e_signup .e_date input[type="text"]:default,#e_signup .e_date input[type="text"]:focus{
    border: 1px solid rgba(0,0,0,0.2);
}
#e_signup .e_map{
    background-color: rgb(241,241,241);
    height: 200px;
    margin: 20px -15px 20px 15px;
}
#e_signup .e_reglement{
    margin-left:10px;
    margin-bottom: 20px;
}
#e_signup input[type="submit"]{
    background-color: #5ad4a0;
    height: 35px;
    border-radius: 0;
    margin-bottom: 20px;
}
#e_signup{
    margin-bottom: 20px;
}
.e_input_entreprise{
    display: none;
}
.disabled{
    background-color: rgb(208, 208, 208) !important;
}
.disabled input{
    background-color: rgb(208, 208, 208) !important;
}